<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shangyi.business">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.shangyi.kt.ui.mine.order.CancelRefundActivity"></activity>
        <activity
            android:name="com.shangyi.kt.ui.mine.order.RefundActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.shangyi.kt.ui.mine.LazyFragmentActivity" />
        <activity android:name="com.shangyi.kt.ui.mine.order.OrderDetailActivity" />
        <activity android:name="com.shangyi.kt.ui.setting.HomeJkfyActivity" />
        <activity android:name="com.shangyi.kt.ui.home.HomeXueyaActivity" />
        <activity android:name="com.shangyi.kt.ui.home.HomePinpaiActivity" />
        <activity android:name="com.shangyi.kt.ui.home.HomeGaoyongActivity" />
        <activity android:name="com.shangyi.kt.ui.home.HomeHaoKefyActivity" />
        <activity android:name="com.shangyi.kt.ui.mine.FenxiaoActivity" />
        <activity android:name="com.shangyi.kt.ui.mine.yijian.YiJianSubmitActivity" />
        <activity android:name="com.shangyi.kt.ui.mine.yijian.YiJianActivity" />
        <activity android:name="com.shangyi.kt.ui.mine.mine_vip.YhqGoodsActivity" />
        <activity android:name="com.shangyi.kt.ui.mine.order.TxActivity" />
        <activity android:name="com.shangyi.kt.ui.mine.order.AfterSaleActivity" />
        <activity android:name="com.shangyi.kt.ui.mine.mine_vip.FxManagerActivity" />
        <activity android:name="com.shangyi.kt.ui.mine.mine_vip.YhqActivity" />
        <activity android:name="com.shangyi.kt.ui.mine.mine_vip.MySyActivity" />
        <activity android:name="com.shangyi.kt.ui.mine.order.ChangeAddressActivity" />
        <activity android:name="com.shangyi.kt.ui.mine.order.AllOrderActivity" />
        <activity android:name="com.shangyi.kt.ui.mine.order.OrderInfoActivity" />
        <activity android:name="com.shangyi.kt.ui.order.PaySuccessActivity" />
        <activity android:name="com.shangyi.kt.ui.mine.mine_vip.CollectActivity" />
        <activity android:name=".wxapi.PayDemoActivity" />
        <activity
            android:name="com.shangyi.kt.ui.order.AffirmOrderActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.shangyi.kt.ui.pingjia.AddPinglunActivity" />
        <activity android:name="com.shangyi.kt.ui.pingjia.PingjiaActivity" />
        <activity android:name="com.shangyi.kt.ui.order.OrderSuccessActivity" />
        <activity android:name="com.shangyi.kt.ui.address.AddAddressActivity" />
        <activity android:name="com.shangyi.kt.ui.setting.SettingMessageActivity" />
        <activity android:name="com.shangyi.kt.ui.setting.AboutSyActivity" />
        <activity android:name="com.shangyi.kt.ui.address.AddressListActivity" />
        <activity android:name="com.shangyi.kt.ui.setting.BackPwdActivity" />
        <activity
            android:name="com.shangyi.kt.ui.goods.GoodsListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.shangyi.kt.ui.goods.GoodsDetailActivity" />
        <activity
            android:name="com.shangyi.kt.ui.userlogin.FindPwdActivity"
            android:theme="@style/YellowTheme" />
        <activity android:name="com.shangyi.kt.ui.userlogin.SetUserinfoActivity" />
        <activity android:name="com.shangyi.kt.ui.userlogin.SetPwdActivity" />
        <activity android:name="com.shangyi.kt.ui.poster.PosterActivity" />
        <activity
            android:name="com.shangyi.kt.ui.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".base.NetWorkActivity" />
        <activity
            android:name="com.shangyi.kt.ui.userlogin.LoginActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.shangyi.kt.ui.splash.SplashActivity"
            android:theme="@style/AppThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.shangyi.kt.ui.userlogin.RegisterActivity" />
        <activity android:name="com.shangyi.kt.ui.userlogin.YzmActivity" />
        <activity android:name="com.shangyi.kt.ui.setting.SettingActivity" />
        <activity
            android:name="com.shangyi.kt.ui.WebActivity"
            android:hardwareAccelerated="true"
            android:process=":remoteweb" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <receiver android:name=".wxapi.util.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>